<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <add name="VCRIEntities" connectionString="metadata=res://*/VCRI_Data.csdl|res://*/VCRI_Data.ssdl|res://*/VCRI_Data.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-O8G7M2V\REJOICE;initial catalog=VCRI;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
<add name="VCRIEntities1" connectionString="metadata=res://*/VCRIEntities.csdl|res://*/VCRIEntities.ssdl|res://*/VCRIEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-O8G7M2V\REJOICE;initial catalog=VCRI;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>